pkgbase = omarchy-spice-guest-tools
	pkgdesc = System-packaged, per-user SPICE integration for Omarchy
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/riverscn/omarchy-spice-guest-tools
	install = omarchy-spice-guest-tools.install
	arch = any
	license = MIT
	depends = bash
	depends = clipnotify
	depends = coreutils
	depends = gawk
	depends = hyprland
	depends = jq
	depends = libxcvt
	depends = spice-vdagent
	depends = systemd
	depends = util-linux
	depends = wl-clipboard
	depends = xclip
	source = omarchy-spice-guest-tools-0.1.2.tar.gz::https://github.com/riverscn/omarchy-spice-guest-tools/releases/download/v0.1.2/omarchy-spice-guest-tools-0.1.2.tar.gz
	sha256sums = 74834b12f140cdedd2f46ddaab755acfbdff7d4b9549085fa20b3fe976d2969c

pkgname = omarchy-spice-guest-tools
