pkgbase = omarchy-spice-guest-tools
	pkgdesc = System-packaged, per-user SPICE integration for Omarchy
	pkgver = 0.1.4
	pkgrel = 0.1
	url = https://github.com/riverscn/omarchy-spice-guest-tools
	install = omarchy-spice-guest-tools.install
	arch = aarch64
	arch = x86_64
	license = MIT
	makedepends = pkgconf
	makedepends = wayland-protocols
	depends = bash
	depends = clipnotify
	depends = coreutils
	depends = gawk
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hyprland
	depends = jq
	depends = libxcvt
	depends = spice-vdagent
	depends = systemd
	depends = util-linux
	depends = wayland
	depends = wl-clipboard
	depends = xclip
	source = omarchy-spice-guest-tools-0.1.4.tar.gz
	sha256sums = SKIP

pkgname = omarchy-spice-guest-tools
